@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700;800&display=swap');
* {
  margin: 0;
}

h3, h1, p, button {
  font-family: Jost;
}

main {
  display: flex;
  align-items: center;
}

.main-playground {
  max-width: 1100px;
  padding: 2rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* ----------------- */
/*      STARTER      */
/* ----------------- */

.cards {
  display: flex;
  gap: 2rem;
}

.card-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
}

.card {
  width: 100%;
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  overflow: hidden;
}

.card-01 {
  background-image: url(https://images.unsplash.com/photo-1672080070762-764c74ee1227?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card-02 {
  background-image: url(https://images.unsplash.com/photo-1680254321973-f5e235a20c54?q=80&w=2000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card-03 {
  background-image: url(https://images.unsplash.com/photo-1675334758608-8f2af855a8b1?q=80&w=2832&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card-container .overlay {
  transition: 0.3s;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

.card-container:hover .overlay {
  background: rgba(0, 0, 0, 0.4);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1rem;
  opacity: 0;
  transition: 0.3s;
}

.card-container:hover .card-content {
  opacity: 1;
  transition: 0.3s 0.3s;
}

.icon {
  width: 100%;
  max-width: 40px;
}

.title {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.desc {
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.button {
  color: #0F0F4F;
  font-size: 12px;
  font-weight: 800;
  border: 0;
  padding: 8px 12px;
  border-radius: 6px;
}


/* ----------------- */
/*  TRANSFORM SIZE   */
/* ----------------- */

#size .card-container {
  transition: flex-grow 0.6s 0.3s;

  &:hover {
    flex-grow: 3;
    transition: flex-grow 2s, opacity 0.3s;
  }

  & .overlay {
    display: flex;
    align-items: flex-end;
  }
}

/* ----------------- */
/*       ZOOM        */
/* ----------------- */

#zoom .card-container {
  & .card {
    transition: transform 0.6s, background-size ease-in-out 1.2s;
    background-size: 140%;
  }

  &:hover {

    & .card {
      transform: scale(1.05);
      background-size: 155%;
    }
  }

  & .overlay {
    display: flex;
    align-items: flex-end;
  }
}

/* ----------------- */
/*     TRANSLATE     */
/* ----------------- */

#translate .card-container {
  & .overlay {
    height: 180%;
  }
  & .card-content {
    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    align-items: center;
    text-align: center;

    & button {
      width: 100%;
    }
  }
  &:hover {
    & .card-content {
      transform: translateY(calc(100% - 25rem));
    }
  }

  & .overlay {
    display: flex;
    align-items: flex-end;
  }
}

/* ----------------- */
/*     TRANSLATE     */
/* ----------------- */

#raised .card-container {
  transition: transform 0.6s;
  & .card {
    transition: box-shadow 0.6s;
  }

  &:hover {
    transform: translate(-8px, -8px);
    transition: transform 0.6s;
    & .card {
      box-shadow: 6.0px 12.0px 12.0px hsl(0deg 0% 0% / 0.31);
      transition: box-shadow 0.6s;
    }
  }

  & .overlay {
    display: flex;
    align-items: flex-end;
  }
}